.lang-switch {
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
}

.lang-switch a {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.lang-switch a:hover {
    text-decoration: underline;
}